<%= @user.username %>'s contacts. Click to message.
<form action="/recipients" method="POST">
<% @users.each do |receiver| %>
  <% if receiver.username != @user.username %>
    <%= receiver.username %>
    <input id="receiver_id" type="checkbox" name="receiver_id" value="<%= receiver.id() %>">
    <input type="submit"></br>
  <% end %>
<% end %>
</form>
