<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<html>
  <body>
    <html>
      <body>
         <h3>Send a message</h3>
         <!-- <form id="form" action="/" method="POST">
           <div id="input">
           <input type="text" name="message" value="your message"></input><br />
           <input type="text" name="sender" value="your name"></input><br />
         </div>
           <input type="submit">
         </form> -->
         <form id="item" action="/" method="POST">
            <input type="text" id="input" name="input" value="send a message"></input>
          </form>
         <div id="msgs"></div>
      </body>

  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f){
          var input     = document.getElementById('input');
            input.onclick = function(){ input.value = "" };
            f.onsubmit    = function( event ) {
              event.preventDefault();
              $.ajax({
                type: "POST",
                url: '/',
                data: {input: input.value},
                success: console.log('success'),
                dataType: "text"
              });
              ws.send(input.value);
              input.value = "send a message";
              return false;
          }
        }(document.getElementById('item'));
      })();
    }
  </script>
</html>
