<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<html>
  <body>
    <html>
      <body>
         <h3>Welcome to Chatter</h3>
         <form id="item" action="/" method="POST">
           <input type="text" id="name" value="add your name"></input><br />
            <input type="text" id="input" name="input" value="send your message"></input>
            <input type="submit" style = "display: none" >
          </form>
         <div id="msgs"></div>
      </body>

  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
        var name = document.getElementById('name');
        ws.onmessage = function(m) { show(`${name.value}: ${m.data}`); };

        var sender = function(f){
          var input     = document.getElementById('input');
            input.onclick = function(){ input.value = "" };
            name.onclick = function(){ name.value = "" };
            f.onsubmit    = function( event ) {
              var messageToSend =   `${name.value}: ${input.value}`
              event.preventDefault();
              $.ajax({
                type: "POST",
                url: '/',
                data: {input: messageToSend},
                success: console.log('success'),
                dataType: "text"
              });
              ws.send(input.value);
              input.value = "";
              return false;
          }
        }(document.getElementById('item'));
      })();
    }
  </script>

  <% @messages.each do |message| %>
    <%= message.input %><br />
  <% end %>
</html>
